@font-face {
    font-family: "liberation";
    src: url("lib/LiberationSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1f1f1f;
    font-size: 1.5em; /* change this to zoom page */
}

:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}

#task,
#spinner {
    width: 100%;
    text-align: center;
    color: white;
    font-family: liberation;
    font-size: 2em;
}

#task a {
    color: #e44332;
}

#task > p {
    font-size: 0.65em;
    margin: 1em 2em;
}

.taskComments {
    border: 1px solid white;
    width: 50%;
    margin: auto;
    margin-top: 1.5em !important;
    text-align: justify;
    padding: 0.5em;
    padding-bottom: 0.25em;
    font-size: 0.75em;
}

#dynalistmenu {
    text-align: center !important;
}

.nobullets {
    list-style-type: none;
    padding-left: 0;
}

.nobullets > li {
    text-indent: -2.75em;
    margin-left: 2.65em;
}

.doneChecklist {
    position: relative;
    top: -0.25em;
}

.taskComment > ul {
    margin-top: 0.25em;
}

.tingle-modal-box__content {
    display: none;
}

.projectName {
    font-size: 1.5em;
}

.projectName:nth-child(3) {
    margin-top: 1em;
    font-size: 0.75em;
}

#backToProjects {
    color: rgb(54, 253, 54);
    cursor: pointer;
}

.mainTask > p {
    font-size: 1.25em;
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

button {
    background-color: #e44332 !important;
    border-radius: 3px !important;
    border: 2px solid #e44332;
    color: #fff;
    padding: 0.55em;
    font-weight: bold;
    font-size: 0.5em;
    cursor: pointer;
    margin: 15px;
}

button.important {
    background-color: #4073d6 !important;
    border: 2px solid #4073d6 !important;
}

button b {
    font-size: 3em;
}

.suggest {
    width: 11em;
    position: relative;
}

/* https://codepen.io/mike-schultz/pen/NgQvGO */
.suggest:first-child {
    --borderWidth: 0.15em;
    background: #1d1f20 !important;
    border: none;
    position: relative;
    border-radius: var(--borderWidth);
}

.suggest:first-child:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
    );
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.suggest:first-child > .badge {
    color: white !important;
}

.projectLink,
.projectLinkMobile {
    text-decoration: none;
    font-size: 0.25em;
    position: absolute;
    margin-left: -0.25em;
    margin-top: 3em;
    opacity: 50%;
}

.projectLinkMobile,
.taskLinkMobile {
    display: none;
}

.badge {
    position: absolute;
    font-size: 0.75em;
    background: #1f1f1f;
    color: #e44332;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 50%;
    top: -1em;
    right: -1em;
}
.badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    font-size: 1em;
    background: #1f1f1f;
    color: #e44332;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.4em;
    border-radius: 50%;
    margin-left: 0.25em;
}
.grey {
    filter: brightness(50%);
}

.priorityButton {
    font-size: 0.5em;
}

.roundbutton {
    font-size: 0.75em;
    background: #e44332;
    text-align: center;
    line-height: 1.4em;
    border-radius: 50%;
    text-decoration: none;
    padding: 0.15em 0.3em;
    margin-left: 0.25em;
}

.tingle-modal-box {
    width: 64em !important;
}

.tingle-modal-box__footer {
    background-color: #353535 !important;
}

.tingle-modal-box__footer > button {
    width: 14em;
    margin-top: 1em;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1.25em; /* change this to zoom page */
    }

    .tingle-modal-box__footer > button {
        width: 4em;
        margin-top: 0.25em !important;
    }
    .tingle-modal-box {
        width: 100% !important;
        text-align: center;
    }

    .taskComments {
        width: 90% !important;
    }

    .projectLink,
    .taskLink {
        display: none !important;
    }

    .projectLinkMobile,
    .taskLinkMobile {
        display: inline !important;
    }
}
