@font-face {
    font-family: 'liberation';
    src: url('lib/LiberationSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ===============
        GLOBAL
   =============== */

body {
    background-color: #1f1f1f;
    font-size: 1.5em; /* change this to zoom page */
}

:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}

.dim {
    opacity: 0.5;
}
.grey {
    filter: brightness(50%);
}

/* ===============
    TASK LAYOUT
   =============== */

#task,
#spinner,
#spinnerDynalist {
    width: 100%;

    font-family: liberation;
    font-size: 2em;
    text-align: center;
    color: white;
}
#spinner > img {
    height: 3em;

    object-fit: none;
    object-position: center -0.5em;
}
#spinner > p.status {
    color: #e44332 !important;
    font-size: 0.35em !important;
}

#task a {
    color: #e44332;
}

#task > p {
    font-size: 0.65em;
    margin: 1em 2em;
}

.projectName {
    font-size: 1.5em;
}

.projectName:nth-child(3) {
    margin-top: 1em;
    font-size: 0.75em;
}

#backToProjects {
    cursor: pointer;
    margin-left: -0.25em;
}

.mainTask > p {
    padding: 0% 10%;

    font-size: 1.25em;

    margin-block: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    text-underline-offset: 0.15em;
}

#dueTasksInProject {
    /* "X tasks remaining in context" */
    font-size: 0.4em;
    font-style: italic;
    text-align: center;
    color: grey;
}

body.automode * #dueTasksInProject {
    display: none;
}

/* ===============
        BUTTONS
   =============== */

.taskButtons {
    margin-top: 0.13em;
}

button {
    margin: 15px;
    padding: 0.55em;
    border: 2px solid #e44332;
    border-radius: 3px !important;
    background-color: #e44332;

    font-size: 0.5em;
    font-weight: bold;
    color: #fff;

    cursor: pointer;
    line-height: 0.9em;
}

button.important {
    background-color: #4073d6 !important;
    border: 2px solid #4073d6 !important;
}

button b {
    font-size: 3em;
}

button > small {
    font-size: 0.75em;
}

.priorityButton {
    font-size: 0.5em;
}

.taskLinkButton > a {
    margin-left: 0.1em;
}

.roundbutton {
    display: inline-block;

    width: 1.25em;
    height: 1.25em;
    margin-left: 0.25em;
    padding: 0.15em 0.2em;
    border-radius: 50%;

    font-size: 0.75em;
    text-align: center;
    text-decoration: none;
    color: white !important;

    line-height: 1.25em;
}
.roundbutton > svg {
    vertical-align: middle;
    stroke-width: 2;
}

.doneButton {
    background: #299438;
}
.deferButton {
    background: #e44332;
}

/* ===============
        SETTINGS
   =============== */

#settingscontainer {
    position: fixed;
    right: 0.75em;
    top: 0.25em;

    padding: 0.5em;
}

#cog-button {
    cursor: pointer;
    color: grey;
    font-size: 1.5em;
}

#settings {
    margin-right: 0.75em;
    margin-top: 1.5em;
    padding: 10px;
    border: none;
    background-color: #1d1f20;

    font-size: 1.5em;
    color: white;
}

#settings .toggle-button {
    display: block;
    margin-bottom: 5px;
}
#settings .toggle-button button {
    margin: 0.25em;
}

button[aria-pressed='false'] {
    background-color: grey;
    border: none;
}

button[aria-pressed='true'] {
    background-color: #e44332;
}

/* body.automode * .deferButton {
    display: none;
} */

/* ===============
        COMMENTS
   =============== */

.taskComments {
    width: 50%;
    margin: auto;
    margin-top: 0.5em !important;
    padding: 0.5em;
    padding-bottom: 0.25em;
    border: 1px solid white;

    font-size: 0.75em;
    text-align: justify;
}

.nobullets {
    list-style-type: none;
    margin-left: -0.5em !important;
}

.nobullets > li {
    text-indent: 0;
    margin-left: 1.5em;
}

li.nobullets > ul {
    padding-left: 0;
    margin-left: 1.5em;
}

button + ul:not(.nobullets) {
    margin-left: -6vw;
}

ul.bulletleft,
.taskComments > .taskComment > ul:not(.nobullets) {
    margin-left: 0 !important;
}

ul:not(.nobullets) > li {
    text-indent: 0;
}

.taskComment > ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

.taskComment * img {
    max-width: 95%;
}

/* ===============
        DYNALIST
   =============== */

#dynalistAuthSubmit {
    display: inline;
    margin-left: 1em;
}

.dynalistmenu {
    text-align: center !important;
    margin-bottom: 0.5em;
}

.dynalistmenu > button {
    margin: 0;
    border-radius: 0 !important;
}

.dynalistmenu > button:hover {
    background-color: #a73124;
    border-color: #a73124;
}

.dynalistmenu > button:first-of-type {
    border-top-left-radius: 0.25em !important;
    border-bottom-left-radius: 0.25em !important;
}

.dynalistmenu > button:last-of-type {
    border-top-right-radius: 0.25em !important;
    border-bottom-right-radius: 0.25em !important;
}

.dynalistMenuButton > span {
    padding: 0em 0.6em;
}

.dynalistLink {
    margin-left: 0.25em;
    cursor: pointer;
}

.taskComment .nobullets {
    display: flex;
    justify-content: space-between;
}
.counts {
    text-align: right;
}
.counts small {
    margin-right: 1em;

    font-size: 0.5em;

    vertical-align: middle;
}
.countButtons {
    display: flex;
}
.countButtons button {
    margin: 0 0 0 12px;
}
.counts.completed .currentCount {
    color: lime;
}
.counts.completed .countButtons {
    opacity: 0.5;
}
[viewtype='count'] .nobullets {
    margin-left: -1.25em !important;
    text-align: left;
}
[viewtype='checklist'] .nobullets {
    margin-left: 0px !important;
    text-align: left;
}

.taskComment * table {
    width: 119%;
    margin-bottom: 0.5em;
    margin-left: -3.18em;
    border: 5px double white;
}
.taskComment * thead {
    border-bottom: 5px solid white;
}
.taskComment * th,
.taskComment * td {
    padding-left: 0.25em;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

#parentnote {
    margin-top: 0.5em;
    border: 1px grey solid;

    font-size: 0.65em;
}
#parentnote > p {
    margin: 0;
    padding: 0.3em;
}

.donechecklist,
.donerotating,
.doneproject {
    position: absolute;

    margin-left: -4.5em;
    margin-top: 0em;
    padding: 0.3em 0.65em;
}

.projectParent {
    font-style: italic;
    margin-left: 0em;
}

.projectTask {
    font-style: normal;
    margin-left: 1em;
}

/* ===============
    PROJECT LIST
   =============== */

.suggest {
    position: relative;

    width: 11em;
    background-color: transparent;

    font-family: liberation;

    letter-spacing: 0.1em;
}

.suggestDots {
    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 1.5em;
    top: -2.6em;

    width: 61%;

    font-size: 0.35em;
}
.suggestDots span {
    display: inline-block;

    width: 5%;

    white-space: nowrap;
}
.suggestDots span:not(:first-child)::before {
    content: '';

    margin-right: 5px;
    border-right: 1px solid #333;
}

/* https://codepen.io/mike-schultz/pen/NgQvGO */
.chosen {
    position: relative;

    border: none;
    border-radius: var(--borderWidth);
    background: #1d1f20 !important;

    --borderWidth: 0.15em;
}

.chosen:after {
    content: '';

    position: absolute;
    left: calc(-1 * var(--borderWidth));
    top: calc(-1 * var(--borderWidth));
    z-index: -1;

    width: calc(100% + var(--borderWidth) * 2);
    height: calc(100% + var(--borderWidth) * 2);
    border-radius: calc(2 * var(--borderWidth));
    background: linear-gradient(
            60deg,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82
        )
        0 0 / 300% 300%;

    animation: animatedgradient 3s ease alternate infinite;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.chosen > .badge {
    color: white !important;
}

#activityDisplay {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    width: 25em;
    height: 2em;
    margin-left: 0.25em;
    outline: 1px #8c8c8c dashed;
    outline-offset: -2.5px;

    font-size: 0.22em;
    color: #8c8c8c;
}

#activityDisplay > div:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#activityDisplay > div:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#activityDisplay > div {
    flex-basis: 1em;

    z-index: 1;

    overflow: hidden;
    white-space: nowrap;
}

#activityDisplay * p {
    color: white;
    padding: 0.15em 0.25em;
    margin: 0;
}

.projectLink,
.projectLinkMobile {
    position: absolute;

    margin-left: -0.25em;
    margin-top: 3em;

    font-size: 0.25em;
    text-decoration: none;

    opacity: 50%;
}

.projectLinkMobile,
.taskLinkMobile {
    display: none;
}

.badge {
    position: absolute;
    left: -1em;
    top: -1em;

    width: 1.75em;
    height: 1.5em;
    border-radius: 50%;
    background: #1f1f1f;

    font-size: 0.7em;
    text-align: center;
    text-decoration: none;
    color: #e44332;
}
.badge[data-badge]:after {
    content: attr(data-badge);

    position: absolute;

    width: 1.5em;
    height: 1.5em;
    margin-left: 0.25em;
    border-radius: 50%;
    background: #1f1f1f;

    font-size: 1em;
    text-align: center;
    color: #e44332;

    line-height: 1.4em;
}

/* ===============
    DEFER DIALOG
   =============== */

#deferModal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 90%;
    border: none;
    background-color: #353535 !important;
}

#deferModal::after {
    display: none;
}

#deferModal > button {
    margin-top: 0.25em;
    border: none;
    background-color: #3498db;

    font-family: liberation;
    font-size: 0.75em;

    line-height: 1.25em;
}

.deferModal-btn {
    padding: 0.85rem 0.75rem !important;
    position: relative;
}

.deferModal-btn--column {
    flex-basis: 40%;
}

.deferModal-btn--row {
    flex-basis: 95%;
}

.deferModal-btn--column:first-child {
    flex-basis: 100%;
}

.deferModal-btn--column:not(:first-child) {
    flex-grow: 2;
}

.deferModal-btn--column:nth-child(n + 10):nth-child(-n + 17) {
    flex-basis: 20%;
    padding: 0.75rem 0rem !important;
}
.deferModal-btn small {
    position: absolute;
    right: 0;
    top: 0;

    margin-right: 0.25em;

    font-size: 0.7em;

    opacity: 0.5;
}

/* ===============
        MOBILE
   =============== */

/* @media only screen and (max-width: 400px) {
    .deferModal-btn--column:nth-child(n + 10):nth-child(-n + 17) {
        flex-basis: 15%;
    }
} */

@media only screen and (max-width: 650px) {
    body {
        font-size: 1.25em; /* changing this zooms page */
    }

    #deferModal > button {
        margin: 0.5em;
    }
    .deferModal-btn--row {
        flex-basis: 100%;
    }
    .deferModal-btn--column:nth-child(n + 10):nth-child(-n + 17) {
        flex-basis: 20%;
    }

    .mainTask > p {
        margin-top: 0;
        padding: 0;
    }

    .projectName {
        font-size: 12vw;
    }
    #backToProjects > svg {
        position: relative;
        top: 1vw;
        width: 13vw;
        height: auto;
    }

    #dueTasksInProject {
        margin-top: 1em;
        padding-bottom: 0em;
    }

    .roundbutton > svg {
        margin-top: 0em;
    }

    .taskComments {
        width: 90% !important;
        margin-top: 1em !important;
    }

    /* .taskComment > .nobullets {
        margin-left: -1.75em !important;
    } */
    [viewtype='count'] .nobullets {
        margin-left: -1.25em !important;
    }

    .projectLink,
    .taskLink {
        display: none !important;
    }

    .projectLinkMobile,
    .taskLinkMobile {
        display: inline !important;
    }

    .dynalistmenu {
        font-size: 0.8em;
    }
    .dynalistMenuButton {
        margin: 0.25em;
    }
    .dynalistMenuButton > span {
        display: block;
        font-size: 0.85em;
    }

    button + ul:not(.nobullets) {
        margin-left: -14vw;
    }

    #spinner > img {
        height: 4em;
    }
}

@media only screen and (max-width: 250px) {
    .projectName > span {
        font-size: 14vw;
    }
    .mainTask > p:first-child {
        font-size: 13vw;
    }

    #dueTasksInProject {
        text-align: center;
        padding-right: 0%;
        font-size: 6vw;
    }

    .nobullets {
        margin-left: -22vw !important;
    }

    .nobullets > li {
        margin-left: 28vw;
        font-size: 12vw;
    }

    .donechecklist,
    .donerotating,
    .doneproject {
        margin-left: -24vw;
    }

    .taskComment * button {
        padding: 0.3em 0.25em;
        font-size: 6vw;
    }
}
